<head>
    <style>
         table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
      </style>
</head>
<body>
    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Citas pendientes</span>
                        <div class="text-900 font-medium text-xl">14</div>
                    </div>

                </div>
                <span class="text-green-500 font-medium">4 nuevas </span>
                <span class="text-500">más que la semana anterior</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">

        </div>
        <div class="col-12 lg:col-6 xl:col-3">

        </div>
        <div class="col-12 lg:col-6 xl:col-3">

        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Vista previa de citas</h5>
                <table>
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Hora</th>
                        <th>Descripción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Juan Pérez</td>
                        <td>8:00 a.m.</td>
                        <td>Chequeo de rutina</td>
                      </tr>
                      <tr>
                        <td>Ana Gutiérrez</td>
                        <td>8:30 a.m.</td>
                        <td>Dolor de cabeza y mareo</td>
                      </tr>
                      <tr>
                        <td>Luisa Fernández</td>
                        <td>9:00 a.m.</td>
                        <td>Seguimiento postoperatorio</td>
                      </tr>
                      <tr>
                        <td>Carlos Rodríguez</td>
                        <td>9:30 a.m.</td>
                        <td>Examen físico para chequeo escolar</td>
                      </tr>
                      <tr>
                        <td>Marta López</td>
                        <td>10:00 a.m.</td>
                        <td>Evaluación por dolor de espalda</td>
                      </tr>
                      <tr>
                        <td>Eduardo González</td>
                        <td>10:30 a.m.</td>
                        <td>Revisión de resultados de laboratorio</td>
                      </tr>
                      <tr>
                        <td>Laura Ramírez</td>
                        <td>11:00 a.m.</td>
                        <td>Chequeo de presión arterial y niveles de glucosa</td>
                      </tr>
                      <tr>
                        <td>José Martínez</td>
                        <td>11:30 a.m.</td>
                        <td>Evaluación de síntomas de gripe</td>
                      </tr>
                      <tr>
                        <td>Sofía Medina</td>
                        <td>12:00 p.m.</td>
                        <td>Seguimiento de terapia física</td>
                      </tr>
                      <tr>
                        <td>Antonio Flores</td>
                        <td>12:30 p.m.</td>
                        <td>Evaluación de lesión deportiva</td>
                      </tr>
                    </tbody>
                  </table>

            </div>
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Prescripciones y órdenes pendientes de firma</h5>
                    <table>
                        <thead>
                          <tr>
                            <th>Medicamento</th>
                            <th>Dosis</th>
                            <th>Frecuencia</th>
                            <th>Notas Adicionales</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Amoxicilina</td>
                            <td>500mg</td>
                            <td>Cada 12 horas</td>
                            <td>Paciente es alérgico a la penicilina, considerar alternativas</td>
                          </tr>
                          <tr>
                            <td>Aspirina</td>
                            <td>81mg</td>
                            <td>Una vez al día</td>
                            <td>Paciente tiene antecedentes de úlceras gástricas, considerar medicamentos alternativos</td>
                          </tr>
                          <tr>
                            <td>Paracetamol</td>
                            <td>500mg</td>
                            <td>Cada 6 horas</td>
                            <td>Evaluar la necesidad de ajustar la dosis según la respuesta del paciente</td>
                          </tr>
                          <tr>
                            <td>Omeprazol</td>
                            <td>20mg</td>
                            <td>Una vez al día</td>
                            <td>Indicado para la prevención de úlceras gástricas en pacientes con antecedentes de uso prolongado de antiinflamatorios no esteroides</td>
                          </tr>
                          <tr>
                            <td>Lorazepam</td>
                            <td>1mg</td>
                            <td>Cada 8 horas</td>
                            <td>Indicado para el control de la ansiedad y el insomnio</td>
                          </tr>
                        </tbody>
                      </table>

                </div>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Resumen de tus pacientes</h5>
                <table>
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Diagnóstico Actual</th>
                        <th>Resultados de Pruebas Importantes</th>
                        <th>Notas del Último Encuentro Médico</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Juan Pérez</td>
                        <td>35</td>
                        <td>Diabetes Tipo 2</td>
                        <td>Niveles de glucosa en sangre altos</td>
                        <td>Paciente sigue el tratamiento y ha mejorado la dieta, se espera una reducción en los niveles de glucosa en la próxima visita</td>
                      </tr>
                      <tr>
                        <td>Ana Gutiérrez</td>
                        <td>45</td>
                        <td>Hipertensión Arterial</td>
                        <td>Presión arterial elevada</td>
                        <td>Se ha recetado medicación para reducir la presión arterial y se ha aconsejado a la paciente hacer cambios en su dieta y estilo de vida para controlar la hipertensión</td>
                      </tr>
                      <tr>
                        <td>Luisa Fernández</td>
                        <td>27</td>
                        <td>Lesión de Rodilla</td>
                        <td>Resonancia Magnética mostró un desgarro en el menisco</td>
                        <td>Se ha recetado fisioterapia y se espera que la paciente mejore gradualmente su capacidad para caminar y hacer actividades físicas</td>
                      </tr>
                      <tr>
                        <td>Carlos Rodríguez</td>
                        <td>8</td>
                        <td>Asma</td>
                        <td>Pruebas de función pulmonar muestran una disminución en la capacidad pulmonar</td>
                        <td>Se ha recetado un inhalador para controlar los síntomas y se ha aconsejado al paciente evitar factores desencadenantes como el humo y el polen</td>
                      </tr>
                      <tr>
                        <td>Marta López</td>
                        <td>50</td>
                        <td>Artritis</td>
                        <td>Radiografía muestra una inflamación de las articulaciones</td>
                        <td>Se ha recetado medicación para aliviar el dolor y se ha aconsejado a la paciente hacer cambios en su dieta y estilo de vida para controlar la artritis</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notificaciones</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">HOY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-comment text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">
                    <span class="text-700"> Nuevo paciente registrado: Jorge Aguilar. Por favor, revise la información del paciente y programe una cita para la evaluación inicial.</span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-comment text-blue-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Alerta de alergia: El paciente Gustavo Conte ha sido diagnosticado con alergia al medicamento Alefacept. Por favor, revise la prescripción de medicamentos antes de enviarla a la farmacia.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">AYER</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-comment text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">
                    <span class="text-700">Recordatorio de seguimiento: El paciente Ana Taylor ha programado una cita de seguimiento en 12/11/23 11:00HS. Por favor, asegúrese de tener los resultados de las pruebas disponibles antes de la cita.</span>
                </span>

                </ul>
            </div>


    </div>
</div>


</body>
